{{#each poses as |pose|}}
  {{log pose}}


  <div id="{{pose.id}}" data-id="{{pose.id}}">
    <form class="save-pose" data-id="{{pose.id}}">
      <h2>Pose: {{pose.pose_name}}</h2>
      <input name="pose[pose_name]" class="hidden editable" type="text" value="{{pose.pose_name}}">
      <ul class="list-edit">
        <li class="uneditable">Muscle action: {{pose.muscle_action}}</li>
        <input name="pose[muscle_action]" class="hidden editable" type="text" value="{{pose.muscle_action}}">
        <li class="uneditable">Cues: {{pose.cues}}</li>
        <input name="pose[cues]" class="hidden editable" type="text" value="{{pose.cues}}">
      </ul>
      <button class="update-pose" data-id="{{pose.id}}">Edit pose</button>
      <button class="save-button hidden" type="submit" data-id="{{pose.id}}">Save edits</button>
      <button class="delete-pose" data-id="{{pose.id}}">Delete pose</button>
    </form>
  </div>

{{/each}}
